API_URL=http://localhost:5000
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=generate-a-private-secret-of-at-least-32-random-characters
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3001
NEXT_PUBLIC_MARKETPLACE_URL=http://localhost:3000
